<div class="container portfolio-max-width portfolio-contact">
    <h4 style="text-align: left"> Contact Us</h4>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col mdl-card">
            <div class="mdl-card__media">
                <img class="article-image" src=" images/contact-image.jpg" border="0" alt="">
            </div>
            <div class="mdl-card__supporting-text">
                <h2 style="color:black">Addddddddddress 1</h2>
                <p>
                    Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim
                    nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat
                    duis.
                </p>
                <h2 style="border-top:black; color:black">ADDDDDDDDDDDDesss 2</h2>
                <p>
                    Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod
                    labore sit amet.
                </p>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <div id="map" style="width:100%; height:25%"></div>
        </div>
    </div>
</div>