<div class="mdl-grid color-8 grid__item">
    <div class=" mdl-cell mdl-cell--8-col  ">
        <a class="link link--manko" href="#">Magnaton Innovations<span>Quality Products</span> <span>on time</span></a>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <p>We build customised PCB's, provide home automation solutions and conduct workshops</p>
    </div>

</div>
<section class="services">
    <h3>Services</h3>
    <div class="mdl-grid">
        <div class="product-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
            <img src="/images/alec-1.png">
            <div class="mdl-card__actions mdl-card--border"><a>Home Automation</a></div>
        </div>
        <div class="product-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
            <img src="/images/pcb-fabrication.jpg">
            <div class="mdl-card__actions mdl-card--border"><a>PCB Fabrication</a></div>
        </div>
        <div class="product-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
            <img src="/images/pcb-assembly.jpg">
            <div class="mdl-card__actions mdl-card--border"><a>Component Assembly</a></div>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="product-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
            <img src="/images/pcb-prototype.jpg">
            <div class="mdl-card__actions mdl-card--border"><a>PCB Prototyping</a></div>
        </div>
        <div class="product-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
            <img src="/images/workshop.jpg">
            <div class="mdl-card__actions mdl-card--border"><a>Workshops</a></div>
        </div>
        <div class="product-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
            <img src="/images/engg-projects.jpg">
            <div class="mdl-card__actions mdl-card--border"><a>Engineering Projects</a></div>
        </div>
    </div>
</section>
<section class="order-pcb">
    <h3>How To Order a PCB</h3>
    {{!-- <div class="mdl-grid">
        <div class="mdl-card mdl-cell mdl-cell--1-col">
            <a class="mdl-button--colored">
                <i class="material-icons md-72">create</i>
            </a>
            <div class="mdl-card__actions">
                <a>Quote</a>
            </div>
        </div>
        <div class="mdl-card mdl-cell mdl-cell--1-col">
            <a class="mdl-button--colored">
                <i class="material-icons md-48">arrow_forward</i>
            </a>
        </div>
        <div class="mdl-card mdl-cell mdl-cell--1-col">
            <a class="mdl-button--colored">
                <i class="material-icons md-72">cloud_upload</i>
            </a>
            <div class="mdl-card__actions">
                <a>Upload File</a>
            </div>
        </div>
        <div class="mdl-card mdl-cell mdl-cell--1-col">
            <a class="mdl-button--colored">
                <i class="material-icons md-48">arrow_forward</i>
            </a>
        </div>
        <div class="mdl-card mdl-cell mdl-cell--1-col">
            <a class="mdl-button--colored">
                <i class="material-icons md-72">spellcheck</i>
            </a>
            <div class="mdl-card__actions">
                <a>Review</a>
            </div>
        </div>
        <div class="mdl-card mdl-cell mdl-cell--1-col">
            <a class="mdl-button--colored">
                <i class="material-icons md-48">arrow_forward</i>
            </a>
        </div>
        <div class="mdl-card mdl-cell mdl-cell--1-col">
            <a class="mdl-button--colored">
                <i class="material-icons md-72">payment</i>
            </a>
            <div class="mdl-card__actions">
                <a>Payment</a>
            </div>
        </div>
        <div class="mdl-card mdl-cell mdl-cell--1-col">
            <a class="mdl-button--colored">
                <i class="material-icons md-48">arrow_forward</i>
            </a>
        </div>
        <div class="mdl-card mdl-cell mdl-cell--1-col">
            <a class="mdl-button--colored">
                <i class="material-icons md-72">settings</i>
            </a>
            <div class="mdl-card__actions">
                <a>Fabrication</a>
            </div>
        </div>
        <div class="mdl-card mdl-cell mdl-cell--1-col">
            <a class="mdl-button--colored">
                <i class="material-icons md-48">arrow_forward</i>
            </a>
        </div>
        <div class="mdl-card mdl-cell mdl-cell--1-col">
            <a class="mdl-button--colored">
                <i class="material-icons md-72">local_shipping</i>
            </a>
            <div class="mdl-card__actions">
                <a>Shipping</a>
            </div>
        </div>
    </div> --}}
    <img src="/images/photo-wide.jpg" width="100%">
</section>