<div class="container mdl-grid">
    <div class="instant-pcb mdl-cell mdl-cell--6-col">
        <h3>Proto PCB</h3>
        <div class="content">
            <p>We have introduced our Proto PCB service to help design engineers modify their proof-of-concept PCBs
                “on the
                bench” by cutting tracks and soldering on wire-links. Soldermasks and silkscreens make this more
                difficult,
                so our Proto PCB service delivers 1,2-layer boards without mask or legend
            </p>
        </div>
        <div>
            <a href="/product1" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Order Now
            </a>
        </div>
    </div>
    <div class="instant-pcb mdl-cell mdl-cell--6-col">
        <h3>Standard PCB</h3>
        <div class="content">
            <p>Magnaton Innovations offers its customers a simple, no fuss, fast PCB Fabrication service. Your data is
                analyzed and once we have checked that your data complies with our technical spec, the board goes in
                production.
            </p>
        </div>
        <div>
            <a href="/product2" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Order Now
            </a>
        </div>
    </div>
</div>