<ul class="list-control mdl-list">
    <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
            Single PCB
        </span>
        <span class="mdl-list__item-secondary-action">
            <label class="list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-1">
                <input type="radio" id="list-option-1" class="mdl-radio__button" name="options" value="1" checked />
            </label>
        </span>
        <span class="mdl-list__item-primary-content">
            Panel PCB
        </span>
        <span class="mdl-list__item-secondary-action">
            <label class="list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-2">
                <input type="radio" id="list-option-2" class="mdl-radio__button" name="options" value="2" checked />
            </label>
        </span>
    </li>
</ul>