<div class="container pcb-capabilities mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <h2>Proto PCB</h2>
        <div class="intro">
            <p>Proto PCBs are priced around 50% lower than fully-finished PCBs. As well as dropping masks and legends,
                the Proto service restricts boards to 2 layers and the quantities available to 2,5 or 10 pieces. This
                allows us to leverage the maximum benefit from order-pooling.The introduction of Proto PCB is part of
                our mission to provide professional PCB designers with the tools they need to develop their designs and
                bring them to market on time and on budget. But, as a responsible Indian company, we also have a duty
                to encourage and develop new generations of PCB engineers.. We already conduct student PCB Workshops
                all over Bangalore.We see proto PCB as another part of this duty. We can help tomorrow’s engineers,
                whether students or hobbyists, by providing affordable prototype PCBs for their personal projects.
                Lower cost cannot mean lower quality: they need to debug their designs, not their fabricator’s
                PCBs.Proto PCB gives students and hobbyists access to low-cost PCBs of proven quality on reliable
                deliveries, we can also support them with technical back-up from white-papers and blogs.</p>
        </div>
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Item</th>
                    <th class="mdl-data-table__cell--non-numeric">Capability</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Layers</td>
                    <td class="mdl-data-table__cell--non-numeric">1, 2</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Quantities</td>
                    <td class="mdl-data-table__cell--non-numeric">2, 5, 10</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Delivery Time</td>
                    <td class="mdl-data-table__cell--non-numeric">1, 2 days</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Max PCB Size</td>
                    <td class="mdl-data-table__cell--non-numeric">250mm X 250mm</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Min PCB Size</td>
                    <td class="mdl-data-table__cell--non-numeric">10mm X 10mm</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Base Material</td>
                    <td class="mdl-data-table__cell--non-numeric">FR-4 , FR-2</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Base Material Thickness</td>
                    <td class="mdl-data-table__cell--non-numeric">1.6mm</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Min track Width</td>
                    <td class="mdl-data-table__cell--non-numeric">0.3mm</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Min track Spacing</td>
                    <td class="mdl-data-table__cell--non-numeric">0.3mm</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Min hole size</td>
                    <td class="mdl-data-table__cell--non-numeric">0.4mm</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <h2>Standard PCB</h2>
        <div class="intro">
            <p>Magnaton Innovations are specialist manufacturers of small batch PCBs. We are experts in order-pooling.
                Placing different orders on a standard production pooling panel minimizes set-up and production costs
                so you get good prices. We do a 100% check on your data before manufacture to make sure that you get
                the boards you want.
            </p>
        </div>
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Item</th>
                    <th class="mdl-data-table__cell--non-numeric">Capability</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Layers</td>
                    <td class="mdl-data-table__cell--non-numeric">1, 2, 4</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Quantities</td>
                    <td class="mdl-data-table__cell--non-numeric">Min - 5 , Max - 1000 per Batch</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Delivery Time</td>
                    <td class="mdl-data-table__cell--non-numeric">Min 3 days, Max - 30days</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Max PCB Size</td>
                    <td class="mdl-data-table__cell--non-numeric">250mm X 250mm</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Min PCB Size</td>
                    <td class="mdl-data-table__cell--non-numeric">10mm X 10mm</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Base Material</td>
                    <td class="mdl-data-table__cell--non-numeric">FR-4 , FR-2</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Base Material Thickness</td>
                    <td class="mdl-data-table__cell--non-numeric">1.6mm, 2mm</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Min track Width</td>
                    <td class="mdl-data-table__cell--non-numeric">0.3mm</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Min track Spacing</td>
                    <td class="mdl-data-table__cell--non-numeric">0.3mm</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Min hole size</td>
                    <td class="mdl-data-table__cell--non-numeric">0.4mm</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>