<div class="product-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">PCB 1</h2>
    </div>
    <div id="product1" class="mdl-card__supporting-text">
        {{> list}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect ">
            Calculate
        </a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect ">
            BUY
        </a>
    </div>
</div>