<div class="product-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 id="product" class="mdl-card__title-text">{{product.title}}</h2>
    </div>
    <div id="{{product.title}}" class="mdl-card__supporting-text">
        {{> list product=product}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <p id="price"></p>
        <a id="calc" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
            Calculate
        </a>
        <a id="buy" class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect ">
            BUY
        </a>
    </div>
</div>