<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Buy PCB's  and many more">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Magnaton Innovations</title>

    <!-- Page styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-red.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body onload="initialize()">
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout__container">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            {{> header}}
            <main class=" container mdl-layout__content">
                {{{body}}}
                {{> footer}}
            </main>
        </div>
    </div>
</body>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
    var parliament = new google.maps.LatLng(59.327383, 18.06747);
    var marker;

    function initialize() {
        var myOptions = {
            zoom: 12,
            center: parliament,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);

        var marker = new google.maps.Marker({
            position: parliament,
            map: map,
            title: "mag"
        });
    }

</script>

</html>