<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
        {{> product_card }}
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">4 (6 tablet)</div>
</div>