.product-card-wide.mdl-card {
  width: 100%;
}
.product-card-wide > .mdl-card__title {
  color: blue;
  height: 176px;
  background: url("/images/pcb-assembly-1.jpg") center / cover;
}

.header-css {
  background-color: #fff;
}
.div-inline {
  width: 20%;
}
